<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>teamId</key>
		<integer>18</integer>
		<key>teamName</key>
		<string>Baltimore</string>
		<key>teamNickname</key>
		<string>Orioles</string>
	</dict>
	<dict>
		<key>teamId</key>
		<integer>19</integer>
		<key>teamName</key>
		<string>Boston</string>
		<key>teamNickname</key>
		<string>Red Sox</string>
	</dict>
	<dict>
		<key>teamId</key>
		<integer>25</integer>
		<key>teamName</key>
		<string>New York</string>
		<key>teamNickname</key>
		<string>Yankees</string>
	</dict>
	<dict>
		<key>teamId</key>
		<integer>28</integer>
		<key>teamName</key>
		<string>Tampa Bay</string>
		<key>teamNickname</key>
		<string>Rays</string>
	</dict>
	<dict>
		<key>teamId</key>
		<integer>30</integer>
		<key>teamName</key>
		<string>Toronto</string>
		<key>teamNickname</key>
		<string>Blue Jays</string>
	</dict>
	<dict>
		<key>teamId</key>
		<integer>20</integer>
		<key>teamName</key>
		<string>Chi</string>
		<key>teamNickname</key>
		<string>White Sox</string>
	</dict>
	<dict>
		<key>teamId</key>
		<integer>21</integer>
		<key>teamName</key>
		<string>Cleveland</string>
		<key>teamNickname</key>
		<string>Indians</string>
	</dict>
	<dict>
		<key>teamId</key>
		<integer>22</integer>
		<key>teamName</key>
		<string>Detroit</string>
		<key>teamNickname</key>
		<string>Tigers</string>
	</dict>
	<dict>
		<key>teamId</key>
		<integer>23</integer>
		<key>teamName</key>
		<string>Kansas City</string>
		<key>teamNickname</key>
		<string>Royals</string>
	</dict>
	<dict>
		<key>teamId</key>
		<integer>24</integer>
		<key>teamName</key>
		<string>Minnesota</string>
		<key>teamNickname</key>
		<string>Twins</string>
	</dict>
	<dict>
		<key>teamId</key>
		<integer>7</integer>
		<key>teamName</key>
		<string>Houston</string>
		<key>teamNickname</key>
		<string>Astros</string>
	</dict>
	<dict>
		<key>teamId</key>
		<integer>17</integer>
		<key>teamName</key>
		<string>Los Angeles</string>
		<key>teamNickname</key>
		<string>Angels</string>
	</dict>
	<dict>
		<key>teamId</key>
		<integer>26</integer>
		<key>teamName</key>
		<string>Oakland</string>
		<key>teamNickname</key>
		<string>Athletics</string>
	</dict>
	<dict>
		<key>teamId</key>
		<integer>27</integer>
		<key>teamName</key>
		<string>Seattle</string>
		<key>teamNickname</key>
		<string>Mariners</string>
	</dict>
	<dict>
		<key>teamId</key>
		<integer>29</integer>
		<key>teamName</key>
		<string>Texas</string>
		<key>teamNickname</key>
		<string>Rangers</string>
	</dict>
	<dict>
		<key>teamId</key>
		<integer>2</integer>
		<key>teamName</key>
		<string>Atlanta</string>
		<key>teamNickname</key>
		<string>Braves</string>
	</dict>
	<dict>
		<key>teamId</key>
		<integer>6</integer>
		<key>teamName</key>
		<string>Miami</string>
		<key>teamNickname</key>
		<string>Marlins</string>
	</dict>
	<dict>
		<key>teamId</key>
		<integer>11</integer>
		<key>teamName</key>
		<string>New York</string>
		<key>teamNickname</key>
		<string>Mets</string>
	</dict>
	<dict>
		<key>teamId</key>
		<integer>12</integer>
		<key>teamName</key>
		<string>Philadelphia</string>
		<key>teamNickname</key>
		<string>Phillies</string>
	</dict>
	<dict>
		<key>teamId</key>
		<integer>10</integer>
		<key>teamName</key>
		<string>Washington</string>
		<key>teamNickname</key>
		<string>Nationals</string>
	</dict>
	<dict>
		<key>teamId</key>
		<integer>3</integer>
		<key>teamName</key>
		<string>Chi</string>
		<key>teamNickname</key>
		<string>Cubs</string>
	</dict>
	<dict>
		<key>teamId</key>
		<integer>4</integer>
		<key>teamName</key>
		<string>Cincinnati</string>
		<key>teamNickname</key>
		<string>Reds</string>
	</dict>
	<dict>
		<key>teamId</key>
		<integer>9</integer>
		<key>teamName</key>
		<string>Milwaukee</string>
		<key>teamNickname</key>
		<string>Brewers</string>
	</dict>
	<dict>
		<key>teamId</key>
		<integer>13</integer>
		<key>teamName</key>
		<string>Pittsburgh</string>
		<key>teamNickname</key>
		<string>Pirates</string>
	</dict>
	<dict>
		<key>teamId</key>
		<integer>16</integer>
		<key>teamName</key>
		<string>St. Louis</string>
		<key>teamNickname</key>
		<string>Cardinals</string>
	</dict>
	<dict>
		<key>teamId</key>
		<integer>1</integer>
		<key>teamName</key>
		<string>Arizona</string>
		<key>teamNickname</key>
		<string>Diamondbacks</string>
	</dict>
	<dict>
		<key>teamId</key>
		<integer>5</integer>
		<key>teamName</key>
		<string>Colorado</string>
		<key>teamNickname</key>
		<string>Rockies</string>
	</dict>
	<dict>
		<key>teamId</key>
		<integer>8</integer>
		<key>teamName</key>
		<string>Los Angeles</string>
		<key>teamNickname</key>
		<string>Dodgers</string>
	</dict>
	<dict>
		<key>teamId</key>
		<integer>14</integer>
		<key>teamName</key>
		<string>San Diego</string>
		<key>teamNickname</key>
		<string>Padres</string>
	</dict>
	<dict>
		<key>teamId</key>
		<integer>15</integer>
		<key>teamName</key>
		<string>San Francisco</string>
		<key>teamNickname</key>
		<string>Giants</string>
	</dict>
</array>
</plist>
