<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>teamId</key>
		<integer>4</integer>
		<key>teamName</key>
		<string>Buffalo</string>
		<key>teamNickname</key>
		<string>Bills</string>
	</dict>
	<dict>
		<key>teamId</key>
		<integer>17</integer>
		<key>teamName</key>
		<string>Miami</string>
		<key>teamNickname</key>
		<string>Dolphins</string>
	</dict>
	<dict>
		<key>teamId</key>
		<integer>19</integer>
		<key>teamName</key>
		<string>New England</string>
		<key>teamNickname</key>
		<string>Patriots</string>
	</dict>
	<dict>
		<key>teamId</key>
		<integer>21</integer>
		<key>teamName</key>
		<string>New York</string>
		<key>teamNickname</key>
		<string>Jets</string>
	</dict>
	<dict>
		<key>teamId</key>
		<integer>3</integer>
		<key>teamName</key>
		<string>Baltimore</string>
		<key>teamNickname</key>
		<string>Ravens</string>
	</dict>
	<dict>
		<key>teamId</key>
		<integer>7</integer>
		<key>teamName</key>
		<string>Cincinnati</string>
		<key>teamNickname</key>
		<string>Bengals</string>
	</dict>
	<dict>
		<key>teamId</key>
		<integer>8</integer>
		<key>teamName</key>
		<string>Cleveland</string>
		<key>teamNickname</key>
		<string>Browns</string>
	</dict>
	<dict>
		<key>teamId</key>
		<integer>24</integer>
		<key>teamName</key>
		<string>Pittsburgh</string>
		<key>teamNickname</key>
		<string>Steelers</string>
	</dict>
	<dict>
		<key>teamId</key>
		<integer>31</integer>
		<key>teamName</key>
		<string>Houston</string>
		<key>teamNickname</key>
		<string>Texans</string>
	</dict>
	<dict>
		<key>teamId</key>
		<integer>13</integer>
		<key>teamName</key>
		<string>Indianapolis</string>
		<key>teamNickname</key>
		<string>Colts</string>
	</dict>
	<dict>
		<key>teamId</key>
		<integer>14</integer>
		<key>teamName</key>
		<string>Jacksonville</string>
		<key>teamNickname</key>
		<string>Jaguars</string>
	</dict>
	<dict>
		<key>teamId</key>
		<integer>29</integer>
		<key>teamName</key>
		<string>Tennessee</string>
		<key>teamNickname</key>
		<string>Titans</string>
	</dict>
	<dict>
		<key>teamId</key>
		<integer>10</integer>
		<key>teamName</key>
		<string>Denver</string>
		<key>teamNickname</key>
		<string>Broncos</string>
	</dict>
	<dict>
		<key>teamId</key>
		<integer>16</integer>
		<key>teamName</key>
		<string>Kansas City</string>
		<key>teamNickname</key>
		<string>Chiefs</string>
	</dict>
	<dict>
		<key>teamId</key>
		<integer>22</integer>
		<key>teamName</key>
		<string>Oakland</string>
		<key>teamNickname</key>
		<string>Raiders</string>
	</dict>
	<dict>
		<key>teamId</key>
		<integer>25</integer>
		<key>teamName</key>
		<string>San Diego</string>
		<key>teamNickname</key>
		<string>Chargers</string>
	</dict>
	<dict>
		<key>teamId</key>
		<integer>9</integer>
		<key>teamName</key>
		<string>Dallas</string>
		<key>teamNickname</key>
		<string>Cowboys</string>
	</dict>
	<dict>
		<key>teamId</key>
		<integer>32</integer>
		<key>teamName</key>
		<string>New York</string>
		<key>teamNickname</key>
		<string>Giants</string>
	</dict>
	<dict>
		<key>teamId</key>
		<integer>23</integer>
		<key>teamName</key>
		<string>Philadelphia</string>
		<key>teamNickname</key>
		<string>Eagles</string>
	</dict>
	<dict>
		<key>teamId</key>
		<integer>30</integer>
		<key>teamName</key>
		<string>Washington</string>
		<key>teamNickname</key>
		<string>Redskins</string>
	</dict>
	<dict>
		<key>teamId</key>
		<integer>6</integer>
		<key>teamName</key>
		<string>Chicago</string>
		<key>teamNickname</key>
		<string>Bears</string>
	</dict>
	<dict>
		<key>teamId</key>
		<integer>11</integer>
		<key>teamName</key>
		<string>Detroit</string>
		<key>teamNickname</key>
		<string>Lions</string>
	</dict>
	<dict>
		<key>teamId</key>
		<integer>12</integer>
		<key>teamName</key>
		<string>Green Bay</string>
		<key>teamNickname</key>
		<string>Packers</string>
	</dict>
	<dict>
		<key>teamId</key>
		<integer>18</integer>
		<key>teamName</key>
		<string>Minnesota</string>
		<key>teamNickname</key>
		<string>Vikings</string>
	</dict>
	<dict>
		<key>teamId</key>
		<integer>2</integer>
		<key>teamName</key>
		<string>Atlanta</string>
		<key>teamNickname</key>
		<string>Falcons</string>
	</dict>
	<dict>
		<key>teamId</key>
		<integer>5</integer>
		<key>teamName</key>
		<string>Carolina</string>
		<key>teamNickname</key>
		<string>Panthers</string>
	</dict>
	<dict>
		<key>teamId</key>
		<integer>20</integer>
		<key>teamName</key>
		<string>New Orleans</string>
		<key>teamNickname</key>
		<string>Saints</string>
	</dict>
	<dict>
		<key>teamId</key>
		<integer>28</integer>
		<key>teamName</key>
		<string>Tampa Bay</string>
		<key>teamNickname</key>
		<string>Buccaneers</string>
	</dict>
	<dict>
		<key>teamId</key>
		<integer>1</integer>
		<key>teamName</key>
		<string>Arizona</string>
		<key>teamNickname</key>
		<string>Cardinals</string>
	</dict>
	<dict>
		<key>teamId</key>
		<integer>27</integer>
		<key>teamName</key>
		<string>San Francisco</string>
		<key>teamNickname</key>
		<string>49ers</string>
	</dict>
	<dict>
		<key>teamId</key>
		<integer>26</integer>
		<key>teamName</key>
		<string>Seattle</string>
		<key>teamNickname</key>
		<string>Seahawks</string>
	</dict>
	<dict>
		<key>teamId</key>
		<integer>15</integer>
		<key>teamName</key>
		<string>St. Louis</string>
		<key>teamNickname</key>
		<string>Rams</string>
	</dict>
</array>
</plist>
