<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>teamId</key>
		<integer>2</integer>
		<key>teamName</key>
		<string>Boston</string>
		<key>teamNickname</key>
		<string>Celtics</string>
	</dict>
	<dict>
		<key>teamId</key>
		<integer>17</integer>
		<key>teamName</key>
		<string>Brooklyn</string>
		<key>teamNickname</key>
		<string>Nets</string>
	</dict>
	<dict>
		<key>teamId</key>
		<integer>18</integer>
		<key>teamName</key>
		<string>New York</string>
		<key>teamNickname</key>
		<string>Knicks</string>
	</dict>
	<dict>
		<key>teamId</key>
		<integer>20</integer>
		<key>teamName</key>
		<string>Philadelphia</string>
		<key>teamNickname</key>
		<string>76ers</string>
	</dict>
	<dict>
		<key>teamId</key>
		<integer>26</integer>
		<key>teamName</key>
		<string>Toronto</string>
		<key>teamNickname</key>
		<string>Raptors</string>
	</dict>
	<dict>
		<key>teamId</key>
		<integer>4</integer>
		<key>teamName</key>
		<string>Chicago</string>
		<key>teamNickname</key>
		<string>Bulls</string>
	</dict>
	<dict>
		<key>teamId</key>
		<integer>5</integer>
		<key>teamName</key>
		<string>Cleveland</string>
		<key>teamNickname</key>
		<string>Cavaliers</string>
	</dict>
	<dict>
		<key>teamId</key>
		<integer>8</integer>
		<key>teamName</key>
		<string>Detroit</string>
		<key>teamNickname</key>
		<string>Pistons</string>
	</dict>
	<dict>
		<key>teamId</key>
		<integer>11</integer>
		<key>teamName</key>
		<string>Indiana</string>
		<key>teamNickname</key>
		<string>Pacers</string>
	</dict>
	<dict>
		<key>teamId</key>
		<integer>15</integer>
		<key>teamName</key>
		<string>Milwaukee</string>
		<key>teamNickname</key>
		<string>Bucks</string>
	</dict>
	<dict>
		<key>teamId</key>
		<integer>1</integer>
		<key>teamName</key>
		<string>Atlanta</string>
		<key>teamNickname</key>
		<string>Hawks</string>
	</dict>
	<dict>
		<key>teamId</key>
		<integer>33</integer>
		<key>teamName</key>
		<string>Charlotte</string>
		<key>teamNickname</key>
		<string>Bobcats</string>
	</dict>
	<dict>
		<key>teamId</key>
		<integer>14</integer>
		<key>teamName</key>
		<string>Miami</string>
		<key>teamNickname</key>
		<string>Heat</string>
	</dict>
	<dict>
		<key>teamId</key>
		<integer>19</integer>
		<key>teamName</key>
		<string>Orlando</string>
		<key>teamNickname</key>
		<string>Magic</string>
	</dict>
	<dict>
		<key>teamId</key>
		<integer>29</integer>
		<key>teamName</key>
		<string>Washington</string>
		<key>teamNickname</key>
		<string>Wizards</string>
	</dict>
	<dict>
		<key>teamId</key>
		<integer>7</integer>
		<key>teamName</key>
		<string>Denver</string>
		<key>teamNickname</key>
		<string>Nuggets</string>
	</dict>
	<dict>
		<key>teamId</key>
		<integer>16</integer>
		<key>teamName</key>
		<string>Minnesota</string>
		<key>teamNickname</key>
		<string>Timberwolves</string>
	</dict>
	<dict>
		<key>teamId</key>
		<integer>25</integer>
		<key>teamName</key>
		<string>Oklahoma City</string>
		<key>teamNickname</key>
		<string>Thunder</string>
	</dict>
	<dict>
		<key>teamId</key>
		<integer>22</integer>
		<key>teamName</key>
		<string>Portland</string>
		<key>teamNickname</key>
		<string>Trail Blazers</string>
	</dict>
	<dict>
		<key>teamId</key>
		<integer>27</integer>
		<key>teamName</key>
		<string>Utah</string>
		<key>teamNickname</key>
		<string>Jazz</string>
	</dict>
	<dict>
		<key>teamId</key>
		<integer>9</integer>
		<key>teamName</key>
		<string>Golden State</string>
		<key>teamNickname</key>
		<string>Warriors</string>
	</dict>
	<dict>
		<key>teamId</key>
		<integer>12</integer>
		<key>teamName</key>
		<string>Los Angeles</string>
		<key>teamNickname</key>
		<string>Clippers</string>
	</dict>
	<dict>
		<key>teamId</key>
		<integer>13</integer>
		<key>teamName</key>
		<string>Los Angeles</string>
		<key>teamNickname</key>
		<string>Lakers</string>
	</dict>
	<dict>
		<key>teamId</key>
		<integer>21</integer>
		<key>teamName</key>
		<string>Phoenix</string>
		<key>teamNickname</key>
		<string>Suns</string>
	</dict>
	<dict>
		<key>teamId</key>
		<integer>24</integer>
		<key>teamName</key>
		<string>Sacramento</string>
		<key>teamNickname</key>
		<string>Kings</string>
	</dict>
	<dict>
		<key>teamId</key>
		<integer>6</integer>
		<key>teamName</key>
		<string>Dallas</string>
		<key>teamNickname</key>
		<string>Mavericks</string>
	</dict>
	<dict>
		<key>teamId</key>
		<integer>10</integer>
		<key>teamName</key>
		<string>Houston</string>
		<key>teamNickname</key>
		<string>Rockets</string>
	</dict>
	<dict>
		<key>teamId</key>
		<integer>28</integer>
		<key>teamName</key>
		<string>Memphis</string>
		<key>teamNickname</key>
		<string>Grizzlies</string>
	</dict>
	<dict>
		<key>teamId</key>
		<integer>3</integer>
		<key>teamName</key>
		<string>New Orleans</string>
		<key>teamNickname</key>
		<string>Pelicans</string>
	</dict>
	<dict>
		<key>teamId</key>
		<integer>23</integer>
		<key>teamName</key>
		<string>San Antonio</string>
		<key>teamNickname</key>
		<string>Spurs</string>
	</dict>
</array>
</plist>
