<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>teamId</key>
		<integer>46</integer>
		<key>teamName</key>
		<string>Butler</string>
		<key>teamNickname</key>
		<string>Bulldogs</string>
	</dict>
	<dict>
		<key>teamId</key>
		<integer>66</integer>
		<key>teamName</key>
		<string>Charlotte</string>
		<key>teamNickname</key>
		<string>49ers</string>
	</dict>
	<dict>
		<key>teamId</key>
		<integer>97</integer>
		<key>teamName</key>
		<string>Dayton</string>
		<key>teamNickname</key>
		<string>Flyers</string>
	</dict>
	<dict>
		<key>teamId</key>
		<integer>108</integer>
		<key>teamName</key>
		<string>Duquesne</string>
		<key>teamNickname</key>
		<string>Dukes</string>
	</dict>
	<dict>
		<key>teamId</key>
		<integer>128</integer>
		<key>teamName</key>
		<string>Fordham</string>
		<key>teamNickname</key>
		<string>Rams</string>
	</dict>
	<dict>
		<key>teamId</key>
		<integer>136</integer>
		<key>teamName</key>
		<string>George Washington</string>
		<key>teamNickname</key>
		<string>Colonials</string>
	</dict>
	<dict>
		<key>teamId</key>
		<integer>189</integer>
		<key>teamName</key>
		<string>La Salle</string>
		<key>teamNickname</key>
		<string>Explorers</string>
	</dict>
	<dict>
		<key>teamId</key>
		<integer>218</integer>
		<key>teamName</key>
		<string>Massachusetts</string>
		<key>teamNickname</key>
		<string>Minutemen</string>
	</dict>
	<dict>
		<key>teamId</key>
		<integer>314</integer>
		<key>teamName</key>
		<string>Rhode Island</string>
		<key>teamNickname</key>
		<string>Rams</string>
	</dict>
	<dict>
		<key>teamId</key>
		<integer>316</integer>
		<key>teamName</key>
		<string>Richmond</string>
		<key>teamNickname</key>
		<string>Spiders</string>
	</dict>
	<dict>
		<key>teamId</key>
		<integer>366</integer>
		<key>teamName</key>
		<string>Saint Joseph&apos;s</string>
		<key>teamNickname</key>
		<string>Hawks</string>
	</dict>
	<dict>
		<key>teamId</key>
		<integer>369</integer>
		<key>teamName</key>
		<string>Saint Louis</string>
		<key>teamNickname</key>
		<string>Billikens</string>
	</dict>
	<dict>
		<key>teamId</key>
		<integer>360</integer>
		<key>teamName</key>
		<string>St. Bonaventure</string>
		<key>teamNickname</key>
		<string>Bonnies</string>
	</dict>
	<dict>
		<key>teamId</key>
		<integer>389</integer>
		<key>teamName</key>
		<string>Temple</string>
		<key>teamNickname</key>
		<string>Owls</string>
	</dict>
	<dict>
		<key>teamId</key>
		<integer>433</integer>
		<key>teamName</key>
		<string>Virginia Commonwealth</string>
		<key>teamNickname</key>
		<string>Rams</string>
	</dict>
	<dict>
		<key>teamId</key>
		<integer>478</integer>
		<key>teamName</key>
		<string>Xavier</string>
		<key>teamNickname</key>
		<string>Musketeers</string>
	</dict>
	<dict>
		<key>teamId</key>
		<integer>38</integer>
		<key>teamName</key>
		<string>Boston College</string>
		<key>teamNickname</key>
		<string>Eagles</string>
	</dict>
	<dict>
		<key>teamId</key>
		<integer>72</integer>
		<key>teamName</key>
		<string>Clemson</string>
		<key>teamNickname</key>
		<string>Tigers</string>
	</dict>
	<dict>
		<key>teamId</key>
		<integer>107</integer>
		<key>teamName</key>
		<string>Duke</string>
		<key>teamNickname</key>
		<string>Blue Devils</string>
	</dict>
	<dict>
		<key>teamId</key>
		<integer>126</integer>
		<key>teamName</key>
		<string>Florida State</string>
		<key>teamNickname</key>
		<string>Seminoles</string>
	</dict>
	<dict>
		<key>teamId</key>
		<integer>141</integer>
		<key>teamName</key>
		<string>Georgia Tech</string>
		<key>teamNickname</key>
		<string>Yellow Jackets</string>
	</dict>
	<dict>
		<key>teamId</key>
		<integer>217</integer>
		<key>teamName</key>
		<string>Maryland</string>
		<key>teamNickname</key>
		<string>Terrapins</string>
	</dict>
	<dict>
		<key>teamId</key>
		<integer>226</integer>
		<key>teamName</key>
		<string>Miami</string>
		<key>teamNickname</key>
		<string>Hurricanes</string>
	</dict>
	<dict>
		<key>teamId</key>
		<integer>273</integer>
		<key>teamName</key>
		<string>North Carolina</string>
		<key>teamNickname</key>
		<string>Tar Heels</string>
	</dict>
	<dict>
		<key>teamId</key>
		<integer>271</integer>
		<key>teamName</key>
		<string>North Carolina State</string>
		<key>teamNickname</key>
		<string>Wolfpack</string>
	</dict>
	<dict>
		<key>teamId</key>
		<integer>439</integer>
		<key>teamName</key>
		<string>Virginia</string>
		<key>teamNickname</key>
		<string>Cavaliers</string>
	</dict>
	<dict>
		<key>teamId</key>
		<integer>440</integer>
		<key>teamName</key>
		<string>Virginia Tech</string>
		<key>teamNickname</key>
		<string>Hokies</string>
	</dict>
	<dict>
		<key>teamId</key>
		<integer>444</integer>
		<key>teamName</key>
		<string>Wake Forest</string>
		<key>teamNickname</key>
		<string>Demon Deacons</string>
	</dict>
	<dict>
		<key>teamId</key>
		<integer>30</integer>
		<key>teamName</key>
		<string>Baylor</string>
		<key>teamNickname</key>
		<string>Bears</string>
	</dict>
	<dict>
		<key>teamId</key>
		<integer>174</integer>
		<key>teamName</key>
		<string>Iowa State</string>
		<key>teamNickname</key>
		<string>Cyclones</string>
	</dict>
	<dict>
		<key>teamId</key>
		<integer>181</integer>
		<key>teamName</key>
		<string>Kansas</string>
		<key>teamNickname</key>
		<string>Jayhawks</string>
	</dict>
	<dict>
		<key>teamId</key>
		<integer>182</integer>
		<key>teamName</key>
		<string>Kansas State</string>
		<key>teamNickname</key>
		<string>Wildcats</string>
	</dict>
	<dict>
		<key>teamId</key>
		<integer>291</integer>
		<key>teamName</key>
		<string>Oklahoma</string>
		<key>teamNickname</key>
		<string>Sooners</string>
	</dict>
	<dict>
		<key>teamId</key>
		<integer>292</integer>
		<key>teamName</key>
		<string>Oklahoma State</string>
		<key>teamNickname</key>
		<string>Cowboys</string>
	</dict>
	<dict>
		<key>teamId</key>
		<integer>388</integer>
		<key>teamName</key>
		<string>TCU</string>
		<key>teamNickname</key>
		<string>Horned Frogs</string>
	</dict>
	<dict>
		<key>teamId</key>
		<integer>396</integer>
		<key>teamName</key>
		<string>Texas</string>
		<key>teamNickname</key>
		<string>Longhorns</string>
	</dict>
	<dict>
		<key>teamId</key>
		<integer>402</integer>
		<key>teamName</key>
		<string>Texas Tech</string>
		<key>teamNickname</key>
		<string>Red Raiders</string>
	</dict>
	<dict>
		<key>teamId</key>
		<integer>453</integer>
		<key>teamName</key>
		<string>West Virginia</string>
		<key>teamNickname</key>
		<string>Mountaineers</string>
	</dict>
	<dict>
		<key>teamId</key>
		<integer>70</integer>
		<key>teamName</key>
		<string>Cincinnati</string>
		<key>teamNickname</key>
		<string>Bearcats</string>
	</dict>
	<dict>
		<key>teamId</key>
		<integer>85</integer>
		<key>teamName</key>
		<string>Connecticut</string>
		<key>teamNickname</key>
		<string>Huskies</string>
	</dict>
	<dict>
		<key>teamId</key>
		<integer>102</integer>
		<key>teamName</key>
		<string>DePaul</string>
		<key>teamNickname</key>
		<string>Blue Demons</string>
	</dict>
	<dict>
		<key>teamId</key>
		<integer>138</integer>
		<key>teamName</key>
		<string>Georgetown</string>
		<key>teamNickname</key>
		<string>Hoyas</string>
	</dict>
	<dict>
		<key>teamId</key>
		<integer>205</integer>
		<key>teamName</key>
		<string>Louisville</string>
		<key>teamNickname</key>
		<string>Cardinals</string>
	</dict>
	<dict>
		<key>teamId</key>
		<integer>213</integer>
		<key>teamName</key>
		<string>Marquette</string>
		<key>teamNickname</key>
		<string>Golden Eagles</string>
	</dict>
	<dict>
		<key>teamId</key>
		<integer>284</integer>
		<key>teamName</key>
		<string>Notre Dame</string>
		<key>teamNickname</key>
		<string>Fighting Irish</string>
	</dict>
	<dict>
		<key>teamId</key>
		<integer>303</integer>
		<key>teamName</key>
		<string>Pittsburgh</string>
		<key>teamNickname</key>
		<string>Panthers</string>
	</dict>
	<dict>
		<key>teamId</key>
		<integer>309</integer>
		<key>teamName</key>
		<string>Providence</string>
		<key>teamNickname</key>
		<string>Friars</string>
	</dict>
	<dict>
		<key>teamId</key>
		<integer>322</integer>
		<key>teamName</key>
		<string>Rutgers</string>
		<key>teamNickname</key>
		<string>Scarlet Knights</string>
	</dict>
	<dict>
		<key>teamId</key>
		<integer>337</integer>
		<key>teamName</key>
		<string>Seton Hall</string>
		<key>teamNickname</key>
		<string>Pirates</string>
	</dict>
	<dict>
		<key>teamId</key>
		<integer>352</integer>
		<key>teamName</key>
		<string>South Florida</string>
		<key>teamNickname</key>
		<string>Bulls</string>
	</dict>
	<dict>
		<key>teamId</key>
		<integer>364</integer>
		<key>teamName</key>
		<string>St. John&apos;s</string>
		<key>teamNickname</key>
		<string>Red Storm</string>
	</dict>
	<dict>
		<key>teamId</key>
		<integer>387</integer>
		<key>teamName</key>
		<string>Syracuse</string>
		<key>teamNickname</key>
		<string>Orange</string>
	</dict>
	<dict>
		<key>teamId</key>
		<integer>438</integer>
		<key>teamName</key>
		<string>Villanova</string>
		<key>teamNickname</key>
		<string>Wildcats</string>
	</dict>
	<dict>
		<key>teamId</key>
		<integer>114</integer>
		<key>teamName</key>
		<string>Eastern Washington</string>
		<key>teamNickname</key>
		<string>Eagles</string>
	</dict>
	<dict>
		<key>teamId</key>
		<integer>163</integer>
		<key>teamName</key>
		<string>Idaho State</string>
		<key>teamNickname</key>
		<string>Bengals</string>
	</dict>
	<dict>
		<key>teamId</key>
		<integer>238</integer>
		<key>teamName</key>
		<string>Montana</string>
		<key>teamNickname</key>
		<string>Grizzlies</string>
	</dict>
	<dict>
		<key>teamId</key>
		<integer>239</integer>
		<key>teamName</key>
		<string>Montana State</string>
		<key>teamNickname</key>
		<string>Bobcats</string>
	</dict>
	<dict>
		<key>teamId</key>
		<integer>274</integer>
		<key>teamName</key>
		<string>North Dakota</string>
		<key>teamNickname</key>
		<string>Sioux</string>
	</dict>
	<dict>
		<key>teamId</key>
		<integer>280</integer>
		<key>teamName</key>
		<string>Northern Arizona</string>
		<key>teamNickname</key>
		<string>Lumberjacks</string>
	</dict>
	<dict>
		<key>teamId</key>
		<integer>784</integer>
		<key>teamName</key>
		<string>Northern Colorado</string>
		<key>teamNickname</key>
		<string>Bears</string>
	</dict>
	<dict>
		<key>teamId</key>
		<integer>305</integer>
		<key>teamName</key>
		<string>Portland State</string>
		<key>teamNickname</key>
		<string>Vikings</string>
	</dict>
	<dict>
		<key>teamId</key>
		<integer>323</integer>
		<key>teamName</key>
		<string>Sacramento State</string>
		<key>teamNickname</key>
		<string>Hornets</string>
	</dict>
	<dict>
		<key>teamId</key>
		<integer>357</integer>
		<key>teamName</key>
		<string>Southern Utah</string>
		<key>teamNickname</key>
		<string>Thunderbirds</string>
	</dict>
	<dict>
		<key>teamId</key>
		<integer>448</integer>
		<key>teamName</key>
		<string>Weber State</string>
		<key>teamNickname</key>
		<string>Wildcats</string>
	</dict>
	<dict>
		<key>teamId</key>
		<integer>164</integer>
		<key>teamName</key>
		<string>Illinois</string>
		<key>teamNickname</key>
		<string>Fighting Illini</string>
	</dict>
	<dict>
		<key>teamId</key>
		<integer>169</integer>
		<key>teamName</key>
		<string>Indiana</string>
		<key>teamNickname</key>
		<string>Hoosiers</string>
	</dict>
	<dict>
		<key>teamId</key>
		<integer>173</integer>
		<key>teamName</key>
		<string>Iowa</string>
		<key>teamNickname</key>
		<string>Hawkeyes</string>
	</dict>
	<dict>
		<key>teamId</key>
		<integer>228</integer>
		<key>teamName</key>
		<string>Michigan</string>
		<key>teamNickname</key>
		<string>Wolverines</string>
	</dict>
	<dict>
		<key>teamId</key>
		<integer>229</integer>
		<key>teamName</key>
		<string>Michigan State</string>
		<key>teamNickname</key>
		<string>Spartans</string>
	</dict>
	<dict>
		<key>teamId</key>
		<integer>231</integer>
		<key>teamName</key>
		<string>Minnesota</string>
		<key>teamNickname</key>
		<string>Golden Gophers</string>
	</dict>
	<dict>
		<key>teamId</key>
		<integer>260</integer>
		<key>teamName</key>
		<string>Nebraska</string>
		<key>teamNickname</key>
		<string>Cornhuskers</string>
	</dict>
	<dict>
		<key>teamId</key>
		<integer>282</integer>
		<key>teamName</key>
		<string>Northwestern</string>
		<key>teamNickname</key>
		<string>Wildcats</string>
	</dict>
	<dict>
		<key>teamId</key>
		<integer>290</integer>
		<key>teamName</key>
		<string>Ohio State</string>
		<key>teamNickname</key>
		<string>Buckeyes</string>
	</dict>
	<dict>
		<key>teamId</key>
		<integer>298</integer>
		<key>teamName</key>
		<string>Penn State</string>
		<key>teamNickname</key>
		<string>Nittany Lions</string>
	</dict>
	<dict>
		<key>teamId</key>
		<integer>310</integer>
		<key>teamName</key>
		<string>Purdue</string>
		<key>teamNickname</key>
		<string>Boilermakers</string>
	</dict>
	<dict>
		<key>teamId</key>
		<integer>473</integer>
		<key>teamName</key>
		<string>Wisconsin</string>
		<key>teamNickname</key>
		<string>Badgers</string>
	</dict>
	<dict>
		<key>teamId</key>
		<integer>51</integer>
		<key>teamName</key>
		<string>Cal Poly</string>
		<key>teamNickname</key>
		<string>Mustangs</string>
	</dict>
	<dict>
		<key>teamId</key>
		<integer>91</integer>
		<key>teamName</key>
		<string>CS Fullerton</string>
		<key>teamNickname</key>
		<string>Titans</string>
	</dict>
	<dict>
		<key>teamId</key>
		<integer>92</integer>
		<key>teamName</key>
		<string>CS Northridge</string>
		<key>teamNickname</key>
		<string>Matadors</string>
	</dict>
	<dict>
		<key>teamId</key>
		<integer>150</integer>
		<key>teamName</key>
		<string>Hawaii</string>
		<key>teamNickname</key>
		<string>Warriors</string>
	</dict>
	<dict>
		<key>teamId</key>
		<integer>202</integer>
		<key>teamName</key>
		<string>Long Beach State</string>
		<key>teamNickname</key>
		<string>49ers</string>
	</dict>
	<dict>
		<key>teamId</key>
		<integer>297</integer>
		<key>teamName</key>
		<string>Pacific</string>
		<key>teamNickname</key>
		<string>Tigers</string>
	</dict>
	<dict>
		<key>teamId</key>
		<integer>332</integer>
		<key>teamName</key>
		<string>Santa Barbara</string>
		<key>teamNickname</key>
		<string>Gauchos</string>
	</dict>
	<dict>
		<key>teamId</key>
		<integer>49</integer>
		<key>teamName</key>
		<string>UC Davis</string>
		<key>teamNickname</key>
		<string>Aggies</string>
	</dict>
	<dict>
		<key>teamId</key>
		<integer>419</integer>
		<key>teamName</key>
		<string>UC Irvine</string>
		<key>teamNickname</key>
		<string>Anteaters</string>
	</dict>
	<dict>
		<key>teamId</key>
		<integer>53</integer>
		<key>teamName</key>
		<string>UC Riverside</string>
		<key>teamNickname</key>
		<string>Highlanders</string>
	</dict>
	<dict>
		<key>teamId</key>
		<integer>98</integer>
		<key>teamName</key>
		<string>Delaware</string>
		<key>teamNickname</key>
		<string>Blue Hens</string>
	</dict>
	<dict>
		<key>teamId</key>
		<integer>106</integer>
		<key>teamName</key>
		<string>Drexel</string>
		<key>teamNickname</key>
		<string>Dragons</string>
	</dict>
	<dict>
		<key>teamId</key>
		<integer>137</integer>
		<key>teamName</key>
		<string>George Mason</string>
		<key>teamNickname</key>
		<string>Patriots</string>
	</dict>
	<dict>
		<key>teamId</key>
		<integer>140</integer>
		<key>teamName</key>
		<string>Georgia State</string>
		<key>teamNickname</key>
		<string>Panthers</string>
	</dict>
	<dict>
		<key>teamId</key>
		<integer>155</integer>
		<key>teamName</key>
		<string>Hofstra</string>
		<key>teamNickname</key>
		<string>Pride</string>
	</dict>
	<dict>
		<key>teamId</key>
		<integer>180</integer>
		<key>teamName</key>
		<string>James Madison</string>
		<key>teamNickname</key>
		<string>Dukes</string>
	</dict>
	<dict>
		<key>teamId</key>
		<integer>276</integer>
		<key>teamName</key>
		<string>Northeastern</string>
		<key>teamNickname</key>
		<string>Huskies</string>
	</dict>
	<dict>
		<key>teamId</key>
		<integer>293</integer>
		<key>teamName</key>
		<string>Old Dominion</string>
		<key>teamNickname</key>
		<string>Monarchs</string>
	</dict>
	<dict>
		<key>teamId</key>
		<integer>408</integer>
		<key>teamName</key>
		<string>Towson</string>
		<key>teamNickname</key>
		<string>Tigers</string>
	</dict>
	<dict>
		<key>teamId</key>
		<integer>257</integer>
		<key>teamName</key>
		<string>UNC Wilmington</string>
		<key>teamNickname</key>
		<string>Seahawks</string>
	</dict>
	<dict>
		<key>teamId</key>
		<integer>466</integer>
		<key>teamName</key>
		<string>William &amp; Mary</string>
		<key>teamNickname</key>
		<string>Tribe</string>
	</dict>
	<dict>
		<key>teamId</key>
		<integer>421</integer>
		<key>teamName</key>
		<string>Central Florida</string>
		<key>teamNickname</key>
		<string>Knights</string>
	</dict>
	<dict>
		<key>teamId</key>
		<integer>109</integer>
		<key>teamName</key>
		<string>East Carolina</string>
		<key>teamNickname</key>
		<string>Pirates</string>
	</dict>
	<dict>
		<key>teamId</key>
		<integer>157</integer>
		<key>teamName</key>
		<string>Houston</string>
		<key>teamNickname</key>
		<string>Cougars</string>
	</dict>
	<dict>
		<key>teamId</key>
		<integer>214</integer>
		<key>teamName</key>
		<string>Marshall</string>
		<key>teamNickname</key>
		<string>Thundering Herd</string>
	</dict>
	<dict>
		<key>teamId</key>
		<integer>224</integer>
		<key>teamName</key>
		<string>Memphis</string>
		<key>teamNickname</key>
		<string>Tigers</string>
	</dict>
	<dict>
		<key>teamId</key>
		<integer>315</integer>
		<key>teamName</key>
		<string>Rice</string>
		<key>teamNickname</key>
		<string>Owls</string>
	</dict>
	<dict>
		<key>teamId</key>
		<integer>344</integer>
		<key>teamName</key>
		<string>Southern Methodist</string>
		<key>teamNickname</key>
		<string>Mustangs</string>
	</dict>
	<dict>
		<key>teamId</key>
		<integer>355</integer>
		<key>teamName</key>
		<string>Southern Miss</string>
		<key>teamNickname</key>
		<string>Golden Eagles</string>
	</dict>
	<dict>
		<key>teamId</key>
		<integer>399</integer>
		<key>teamName</key>
		<string>Texas El Paso</string>
		<key>teamNickname</key>
		<string>Miners</string>
	</dict>
	<dict>
		<key>teamId</key>
		<integer>412</integer>
		<key>teamName</key>
		<string>Tulane</string>
		<key>teamNickname</key>
		<string>Green Wave</string>
	</dict>
	<dict>
		<key>teamId</key>
		<integer>413</integer>
		<key>teamName</key>
		<string>Tulsa</string>
		<key>teamNickname</key>
		<string>Golden Hurricane</string>
	</dict>
	<dict>
		<key>teamId</key>
		<integer>418</integer>
		<key>teamName</key>
		<string>UAB</string>
		<key>teamNickname</key>
		<string>Blazers</string>
	</dict>
	<dict>
		<key>teamId</key>
		<integer>73</integer>
		<key>teamName</key>
		<string>Cleveland State</string>
		<key>teamNickname</key>
		<string>Vikings</string>
	</dict>
	<dict>
		<key>teamId</key>
		<integer>103</integer>
		<key>teamName</key>
		<string>Detroit</string>
		<key>teamNickname</key>
		<string>Titans</string>
	</dict>
	<dict>
		<key>teamId</key>
		<integer>165</integer>
		<key>teamName</key>
		<string>Illinois-Chicago</string>
		<key>teamNickname</key>
		<string>Flames</string>
	</dict>
	<dict>
		<key>teamId</key>
		<integer>206</integer>
		<key>teamName</key>
		<string>Loyola of Chicago</string>
		<key>teamNickname</key>
		<string>Ramblers</string>
	</dict>
	<dict>
		<key>teamId</key>
		<integer>435</integer>
		<key>teamName</key>
		<string>Valparaiso</string>
		<key>teamNickname</key>
		<string>Crusaders</string>
	</dict>
	<dict>
		<key>teamId</key>
		<integer>470</integer>
		<key>teamName</key>
		<string>Wisc-Green Bay</string>
		<key>teamNickname</key>
		<string>Phoenix</string>
	</dict>
	<dict>
		<key>teamId</key>
		<integer>471</integer>
		<key>teamName</key>
		<string>Wisc-Milwaukee</string>
		<key>teamNickname</key>
		<string>Panthers</string>
	</dict>
	<dict>
		<key>teamId</key>
		<integer>476</integer>
		<key>teamName</key>
		<string>Wright State</string>
		<key>teamNickname</key>
		<string>Raiders</string>
	</dict>
	<dict>
		<key>teamId</key>
		<integer>481</integer>
		<key>teamName</key>
		<string>Youngstown State</string>
		<key>teamNickname</key>
		<string>Penguins</string>
	</dict>
	<dict>
		<key>teamId</key>
		<integer>42</integer>
		<key>teamName</key>
		<string>Brown</string>
		<key>teamNickname</key>
		<string>Bears</string>
	</dict>
	<dict>
		<key>teamId</key>
		<integer>81</integer>
		<key>teamName</key>
		<string>Columbia</string>
		<key>teamNickname</key>
		<string>Lions</string>
	</dict>
	<dict>
		<key>teamId</key>
		<integer>88</integer>
		<key>teamName</key>
		<string>Cornell</string>
		<key>teamNickname</key>
		<string>Big Red</string>
	</dict>
	<dict>
		<key>teamId</key>
		<integer>95</integer>
		<key>teamName</key>
		<string>Dartmouth</string>
		<key>teamNickname</key>
		<string>Big Green</string>
	</dict>
	<dict>
		<key>teamId</key>
		<integer>149</integer>
		<key>teamName</key>
		<string>Harvard</string>
		<key>teamNickname</key>
		<string>Crimson</string>
	</dict>
	<dict>
		<key>teamId</key>
		<integer>299</integer>
		<key>teamName</key>
		<string>Pennsylvania</string>
		<key>teamNickname</key>
		<string>Quakers</string>
	</dict>
	<dict>
		<key>teamId</key>
		<integer>308</integer>
		<key>teamName</key>
		<string>Princeton</string>
		<key>teamNickname</key>
		<string>Tigers</string>
	</dict>
	<dict>
		<key>teamId</key>
		<integer>480</integer>
		<key>teamName</key>
		<string>Yale</string>
		<key>teamNickname</key>
		<string>Bulldogs</string>
	</dict>
	<dict>
		<key>teamId</key>
		<integer>56</integer>
		<key>teamName</key>
		<string>Canisius</string>
		<key>teamNickname</key>
		<string>Golden Griffins</string>
	</dict>
	<dict>
		<key>teamId</key>
		<integer>120</integer>
		<key>teamName</key>
		<string>Fairfield</string>
		<key>teamNickname</key>
		<string>Stags</string>
	</dict>
	<dict>
		<key>teamId</key>
		<integer>172</integer>
		<key>teamName</key>
		<string>Iona</string>
		<key>teamNickname</key>
		<string>Gaels</string>
	</dict>
	<dict>
		<key>teamId</key>
		<integer>208</integer>
		<key>teamName</key>
		<string>Loyola</string>
		<key>teamNickname</key>
		<string>Greyhounds</string>
	</dict>
	<dict>
		<key>teamId</key>
		<integer>211</integer>
		<key>teamName</key>
		<string>Manhattan</string>
		<key>teamNickname</key>
		<string>Jaspers</string>
	</dict>
	<dict>
		<key>teamId</key>
		<integer>212</integer>
		<key>teamName</key>
		<string>Marist</string>
		<key>teamNickname</key>
		<string>Red Foxes</string>
	</dict>
	<dict>
		<key>teamId</key>
		<integer>268</integer>
		<key>teamName</key>
		<string>Niagara</string>
		<key>teamNickname</key>
		<string>Purple Eagles</string>
	</dict>
	<dict>
		<key>teamId</key>
		<integer>317</integer>
		<key>teamName</key>
		<string>Rider</string>
		<key>teamNickname</key>
		<string>Broncs</string>
	</dict>
	<dict>
		<key>teamId</key>
		<integer>374</integer>
		<key>teamName</key>
		<string>Saint Peter&apos;s</string>
		<key>teamNickname</key>
		<string>Peacocks</string>
	</dict>
	<dict>
		<key>teamId</key>
		<integer>340</integer>
		<key>teamName</key>
		<string>Siena</string>
		<key>teamNickname</key>
		<string>Saints</string>
	</dict>
	<dict>
		<key>teamId</key>
		<integer>2</integer>
		<key>teamName</key>
		<string>Akron</string>
		<key>teamNickname</key>
		<string>Zips</string>
	</dict>
	<dict>
		<key>teamId</key>
		<integer>29</integer>
		<key>teamName</key>
		<string>Ball State</string>
		<key>teamNickname</key>
		<string>Cardinals</string>
	</dict>
	<dict>
		<key>teamId</key>
		<integer>40</integer>
		<key>teamName</key>
		<string>Bowling Green</string>
		<key>teamNickname</key>
		<string>Falcons</string>
	</dict>
	<dict>
		<key>teamId</key>
		<integer>45</integer>
		<key>teamName</key>
		<string>Buffalo</string>
		<key>teamNickname</key>
		<string>Bulls</string>
	</dict>
	<dict>
		<key>teamId</key>
		<integer>63</integer>
		<key>teamName</key>
		<string>Central Michigan</string>
		<key>teamNickname</key>
		<string>Chippewas</string>
	</dict>
	<dict>
		<key>teamId</key>
		<integer>113</integer>
		<key>teamName</key>
		<string>Eastern Michigan</string>
		<key>teamNickname</key>
		<string>Eagles</string>
	</dict>
	<dict>
		<key>teamId</key>
		<integer>185</integer>
		<key>teamName</key>
		<string>Kent State</string>
		<key>teamNickname</key>
		<string>Golden Flashes</string>
	</dict>
	<dict>
		<key>teamId</key>
		<integer>227</integer>
		<key>teamName</key>
		<string>Miami (Ohio)</string>
		<key>teamNickname</key>
		<string>RedHawks</string>
	</dict>
	<dict>
		<key>teamId</key>
		<integer>277</integer>
		<key>teamName</key>
		<string>Northern Illinois</string>
		<key>teamNickname</key>
		<string>Huskies</string>
	</dict>
	<dict>
		<key>teamId</key>
		<integer>288</integer>
		<key>teamName</key>
		<string>Ohio</string>
		<key>teamNickname</key>
		<string>Bobcats</string>
	</dict>
	<dict>
		<key>teamId</key>
		<integer>407</integer>
		<key>teamName</key>
		<string>Toledo</string>
		<key>teamNickname</key>
		<string>Rockets</string>
	</dict>
	<dict>
		<key>teamId</key>
		<integer>456</integer>
		<key>teamName</key>
		<string>Western Michigan</string>
		<key>teamNickname</key>
		<string>Broncos</string>
	</dict>
	<dict>
		<key>teamId</key>
		<integer>41</integer>
		<key>teamName</key>
		<string>Bradley</string>
		<key>teamNickname</key>
		<string>Braves</string>
	</dict>
	<dict>
		<key>teamId</key>
		<integer>90</integer>
		<key>teamName</key>
		<string>Creighton</string>
		<key>teamNickname</key>
		<string>Bluejays</string>
	</dict>
	<dict>
		<key>teamId</key>
		<integer>105</integer>
		<key>teamName</key>
		<string>Drake</string>
		<key>teamNickname</key>
		<string>Bulldogs</string>
	</dict>
	<dict>
		<key>teamId</key>
		<integer>118</integer>
		<key>teamName</key>
		<string>Evansville</string>
		<key>teamNickname</key>
		<string>Purple Aces</string>
	</dict>
	<dict>
		<key>teamId</key>
		<integer>166</integer>
		<key>teamName</key>
		<string>Illinois State</string>
		<key>teamNickname</key>
		<string>Redbirds</string>
	</dict>
	<dict>
		<key>teamId</key>
		<integer>171</integer>
		<key>teamName</key>
		<string>Indiana State</string>
		<key>teamNickname</key>
		<string>Sycamores</string>
	</dict>
	<dict>
		<key>teamId</key>
		<integer>384</integer>
		<key>teamName</key>
		<string>Missouri State</string>
		<key>teamNickname</key>
		<string>Bears</string>
	</dict>
	<dict>
		<key>teamId</key>
		<integer>278</integer>
		<key>teamName</key>
		<string>Northern Iowa</string>
		<key>teamNickname</key>
		<string>Panthers</string>
	</dict>
	<dict>
		<key>teamId</key>
		<integer>354</integer>
		<key>teamName</key>
		<string>Southern Illinois</string>
		<key>teamNickname</key>
		<string>Salukis</string>
	</dict>
	<dict>
		<key>teamId</key>
		<integer>463</integer>
		<key>teamName</key>
		<string>Wichita State</string>
		<key>teamNickname</key>
		<string>Shockers</string>
	</dict>
	<dict>
		<key>teamId</key>
		<integer>1</integer>
		<key>teamName</key>
		<string>Air Force</string>
		<key>teamNickname</key>
		<string>Falcons</string>
	</dict>
	<dict>
		<key>teamId</key>
		<integer>37</integer>
		<key>teamName</key>
		<string>Boise State</string>
		<key>teamNickname</key>
		<string>Broncos</string>
	</dict>
	<dict>
		<key>teamId</key>
		<integer>80</integer>
		<key>teamName</key>
		<string>Colorado State</string>
		<key>teamNickname</key>
		<string>Rams</string>
	</dict>
	<dict>
		<key>teamId</key>
		<integer>131</integer>
		<key>teamName</key>
		<string>Fresno State</string>
		<key>teamNickname</key>
		<string>Bulldogs</string>
	</dict>
	<dict>
		<key>teamId</key>
		<integer>262</integer>
		<key>teamName</key>
		<string>Nevada</string>
		<key>teamNickname</key>
		<string>Wolf Pack</string>
	</dict>
	<dict>
		<key>teamId</key>
		<integer>265</integer>
		<key>teamName</key>
		<string>New Mexico</string>
		<key>teamNickname</key>
		<string>Lobos</string>
	</dict>
	<dict>
		<key>teamId</key>
		<integer>328</integer>
		<key>teamName</key>
		<string>San Diego State</string>
		<key>teamNickname</key>
		<string>Aztecs</string>
	</dict>
	<dict>
		<key>teamId</key>
		<integer>428</integer>
		<key>teamName</key>
		<string>UNLV</string>
		<key>teamNickname</key>
		<string>Rebels</string>
	</dict>
	<dict>
		<key>teamId</key>
		<integer>477</integer>
		<key>teamName</key>
		<string>Wyoming</string>
		<key>teamNickname</key>
		<string>Cowboys</string>
	</dict>
	<dict>
		<key>teamId</key>
		<integer>27</integer>
		<key>teamName</key>
		<string>Austin Peay</string>
		<key>teamNickname</key>
		<string>Governors</string>
	</dict>
	<dict>
		<key>teamId</key>
		<integer>31</integer>
		<key>teamName</key>
		<string>Belmont</string>
		<key>teamNickname</key>
		<string>Bruins</string>
	</dict>
	<dict>
		<key>teamId</key>
		<integer>111</integer>
		<key>teamName</key>
		<string>Eastern Illinois</string>
		<key>teamNickname</key>
		<string>Panthers</string>
	</dict>
	<dict>
		<key>teamId</key>
		<integer>112</integer>
		<key>teamName</key>
		<string>Eastern Kentucky</string>
		<key>teamNickname</key>
		<string>Colonels</string>
	</dict>
	<dict>
		<key>teamId</key>
		<integer>179</integer>
		<key>teamName</key>
		<string>Jacksonville State</string>
		<key>teamNickname</key>
		<string>Gamecocks</string>
	</dict>
	<dict>
		<key>teamId</key>
		<integer>244</integer>
		<key>teamName</key>
		<string>Morehead State</string>
		<key>teamNickname</key>
		<string>Eagles</string>
	</dict>
	<dict>
		<key>teamId</key>
		<integer>249</integer>
		<key>teamName</key>
		<string>Murray State</string>
		<key>teamNickname</key>
		<string>Racers</string>
	</dict>
	<dict>
		<key>teamId</key>
		<integer>335</integer>
		<key>teamName</key>
		<string>SE Missouri State</string>
		<key>teamNickname</key>
		<string>Redhawks</string>
	</dict>
	<dict>
		<key>teamId</key>
		<integer>1114</integer>
		<key>teamName</key>
		<string>SIU Edwardsville</string>
		<key>teamNickname</key>
		<string>Cougars</string>
	</dict>
	<dict>
		<key>teamId</key>
		<integer>393</integer>
		<key>teamName</key>
		<string>Tennessee State</string>
		<key>teamNickname</key>
		<string>Tigers</string>
	</dict>
	<dict>
		<key>teamId</key>
		<integer>394</integer>
		<key>teamName</key>
		<string>Tennessee Tech</string>
		<key>teamNickname</key>
		<string>Golden Eagles</string>
	</dict>
	<dict>
		<key>teamId</key>
		<integer>390</integer>
		<key>teamName</key>
		<string>Tennessee-Martin</string>
		<key>teamNickname</key>
		<string>Skyhawks</string>
	</dict>
	<dict>
		<key>teamId</key>
		<integer>15</integer>
		<key>teamName</key>
		<string>Arizona</string>
		<key>teamNickname</key>
		<string>Wildcats</string>
	</dict>
	<dict>
		<key>teamId</key>
		<integer>16</integer>
		<key>teamName</key>
		<string>Arizona State</string>
		<key>teamNickname</key>
		<string>Sun Devils</string>
	</dict>
	<dict>
		<key>teamId</key>
		<integer>54</integer>
		<key>teamName</key>
		<string>California</string>
		<key>teamNickname</key>
		<string>Golden Bears</string>
	</dict>
	<dict>
		<key>teamId</key>
		<integer>77</integer>
		<key>teamName</key>
		<string>Colorado</string>
		<key>teamNickname</key>
		<string>Buffaloes</string>
	</dict>
	<dict>
		<key>teamId</key>
		<integer>295</integer>
		<key>teamName</key>
		<string>Oregon</string>
		<key>teamNickname</key>
		<string>Ducks</string>
	</dict>
	<dict>
		<key>teamId</key>
		<integer>296</integer>
		<key>teamName</key>
		<string>Oregon State</string>
		<key>teamNickname</key>
		<string>Beavers</string>
	</dict>
	<dict>
		<key>teamId</key>
		<integer>377</integer>
		<key>teamName</key>
		<string>Stanford</string>
		<key>teamNickname</key>
		<string>Cardinal</string>
	</dict>
	<dict>
		<key>teamId</key>
		<integer>422</integer>
		<key>teamName</key>
		<string>UCLA</string>
		<key>teamNickname</key>
		<string>Bruins</string>
	</dict>
	<dict>
		<key>teamId</key>
		<integer>430</integer>
		<key>teamName</key>
		<string>USC</string>
		<key>teamNickname</key>
		<string>Trojans</string>
	</dict>
	<dict>
		<key>teamId</key>
		<integer>431</integer>
		<key>teamName</key>
		<string>Utah</string>
		<key>teamNickname</key>
		<string>Utes</string>
	</dict>
	<dict>
		<key>teamId</key>
		<integer>446</integer>
		<key>teamName</key>
		<string>Washington</string>
		<key>teamNickname</key>
		<string>Huskies</string>
	</dict>
	<dict>
		<key>teamId</key>
		<integer>447</integer>
		<key>teamName</key>
		<string>Washington State</string>
		<key>teamNickname</key>
		<string>Cougars</string>
	</dict>
	<dict>
		<key>teamId</key>
		<integer>7</integer>
		<key>teamName</key>
		<string>Alabama</string>
		<key>teamNickname</key>
		<string>Crimson Tide</string>
	</dict>
	<dict>
		<key>teamId</key>
		<integer>19</integer>
		<key>teamName</key>
		<string>Arkansas</string>
		<key>teamNickname</key>
		<string>Razorbacks</string>
	</dict>
	<dict>
		<key>teamId</key>
		<integer>25</integer>
		<key>teamName</key>
		<string>Auburn</string>
		<key>teamNickname</key>
		<string>Tigers</string>
	</dict>
	<dict>
		<key>teamId</key>
		<integer>123</integer>
		<key>teamName</key>
		<string>Florida</string>
		<key>teamNickname</key>
		<string>Gators</string>
	</dict>
	<dict>
		<key>teamId</key>
		<integer>139</integer>
		<key>teamName</key>
		<string>Georgia</string>
		<key>teamNickname</key>
		<string>Bulldogs</string>
	</dict>
	<dict>
		<key>teamId</key>
		<integer>186</integer>
		<key>teamName</key>
		<string>Kentucky</string>
		<key>teamNickname</key>
		<string>Wildcats</string>
	</dict>
	<dict>
		<key>teamId</key>
		<integer>209</integer>
		<key>teamName</key>
		<string>LSU</string>
		<key>teamNickname</key>
		<string>Tigers</string>
	</dict>
	<dict>
		<key>teamId</key>
		<integer>233</integer>
		<key>teamName</key>
		<string>Mississippi</string>
		<key>teamNickname</key>
		<string>Rebels</string>
	</dict>
	<dict>
		<key>teamId</key>
		<integer>234</integer>
		<key>teamName</key>
		<string>Mississippi State</string>
		<key>teamNickname</key>
		<string>Bulldogs</string>
	</dict>
	<dict>
		<key>teamId</key>
		<integer>235</integer>
		<key>teamName</key>
		<string>Missouri</string>
		<key>teamNickname</key>
		<string>Tigers</string>
	</dict>
	<dict>
		<key>teamId</key>
		<integer>351</integer>
		<key>teamName</key>
		<string>South Carolina</string>
		<key>teamNickname</key>
		<string>Gamecocks</string>
	</dict>
	<dict>
		<key>teamId</key>
		<integer>391</integer>
		<key>teamName</key>
		<string>Tennessee</string>
		<key>teamNickname</key>
		<string>Volunteers</string>
	</dict>
	<dict>
		<key>teamId</key>
		<integer>397</integer>
		<key>teamName</key>
		<string>Texas A&amp;M</string>
		<key>teamNickname</key>
		<string>Aggies</string>
	</dict>
	<dict>
		<key>teamId</key>
		<integer>436</integer>
		<key>teamName</key>
		<string>Vanderbilt</string>
		<key>teamNickname</key>
		<string>Commodores</string>
	</dict>
	<dict>
		<key>teamId</key>
		<integer>14</integer>
		<key>teamName</key>
		<string>Appalachian State</string>
		<key>teamNickname</key>
		<string>Mountaineers</string>
	</dict>
	<dict>
		<key>teamId</key>
		<integer>67</integer>
		<key>teamName</key>
		<string>Chattanooga</string>
		<key>teamNickname</key>
		<string>Moccasins</string>
	</dict>
	<dict>
		<key>teamId</key>
		<integer>76</integer>
		<key>teamName</key>
		<string>College of Charleston</string>
		<key>teamNickname</key>
		<string>Cougars</string>
	</dict>
	<dict>
		<key>teamId</key>
		<integer>96</integer>
		<key>teamName</key>
		<string>Davidson</string>
		<key>teamNickname</key>
		<string>Wildcats</string>
	</dict>
	<dict>
		<key>teamId</key>
		<integer>115</integer>
		<key>teamName</key>
		<string>Elon</string>
		<key>teamNickname</key>
		<string>Phoenix</string>
	</dict>
	<dict>
		<key>teamId</key>
		<integer>133</integer>
		<key>teamName</key>
		<string>Furman</string>
		<key>teamNickname</key>
		<string>Paladins</string>
	</dict>
	<dict>
		<key>teamId</key>
		<integer>135</integer>
		<key>teamName</key>
		<string>Georgia Southern</string>
		<key>teamNickname</key>
		<string>Eagles</string>
	</dict>
	<dict>
		<key>teamId</key>
		<integer>326</integer>
		<key>teamName</key>
		<string>Samford</string>
		<key>teamNickname</key>
		<string>Bulldogs</string>
	</dict>
	<dict>
		<key>teamId</key>
		<integer>404</integer>
		<key>teamName</key>
		<string>The Citadel</string>
		<key>teamNickname</key>
		<string>Bulldogs</string>
	</dict>
	<dict>
		<key>teamId</key>
		<integer>256</integer>
		<key>teamName</key>
		<string>UNC Greensboro</string>
		<key>teamNickname</key>
		<string>Spartans</string>
	</dict>
	<dict>
		<key>teamId</key>
		<integer>461</integer>
		<key>teamName</key>
		<string>Western Carolina</string>
		<key>teamNickname</key>
		<string>Catamounts</string>
	</dict>
	<dict>
		<key>teamId</key>
		<integer>474</integer>
		<key>teamName</key>
		<string>Wofford</string>
		<key>teamNickname</key>
		<string>Terriers</string>
	</dict>
	<dict>
		<key>teamId</key>
		<integer>21</integer>
		<key>teamName</key>
		<string>Arkansas State</string>
		<key>teamNickname</key>
		<string>Red Wolves</string>
	</dict>
	<dict>
		<key>teamId</key>
		<integer>20</integer>
		<key>teamName</key>
		<string>Arkansas-Little Rock</string>
		<key>teamNickname</key>
		<string>Trojans</string>
	</dict>
	<dict>
		<key>teamId</key>
		<integer>122</integer>
		<key>teamName</key>
		<string>Florida Atlantic</string>
		<key>teamNickname</key>
		<string>Owls</string>
	</dict>
	<dict>
		<key>teamId</key>
		<integer>125</integer>
		<key>teamName</key>
		<string>Florida International</string>
		<key>teamNickname</key>
		<string>Golden Panthers</string>
	</dict>
	<dict>
		<key>teamId</key>
		<integer>423</integer>
		<key>teamName</key>
		<string>Louisiana-Lafayette</string>
		<key>teamNickname</key>
		<string>Ragin Cajuns</string>
	</dict>
	<dict>
		<key>teamId</key>
		<integer>424</integer>
		<key>teamName</key>
		<string>Louisiana-Monroe</string>
		<key>teamNickname</key>
		<string>Warhawks</string>
	</dict>
	<dict>
		<key>teamId</key>
		<integer>230</integer>
		<key>teamName</key>
		<string>Middle Tennessee</string>
		<key>teamNickname</key>
		<string>Blue Raiders</string>
	</dict>
	<dict>
		<key>teamId</key>
		<integer>275</integer>
		<key>teamName</key>
		<string>North Texas</string>
		<key>teamNickname</key>
		<string>Mean Green</string>
	</dict>
	<dict>
		<key>teamId</key>
		<integer>350</integer>
		<key>teamName</key>
		<string>South Alabama</string>
		<key>teamNickname</key>
		<string>Jaguars</string>
	</dict>
	<dict>
		<key>teamId</key>
		<integer>411</integer>
		<key>teamName</key>
		<string>Troy</string>
		<key>teamNickname</key>
		<string>Trojans</string>
	</dict>
	<dict>
		<key>teamId</key>
		<integer>455</integer>
		<key>teamName</key>
		<string>Western Kentucky</string>
		<key>teamNickname</key>
		<string>Hilltoppers</string>
	</dict>
	<dict>
		<key>teamId</key>
		<integer>47</integer>
		<key>teamName</key>
		<string>BYU</string>
		<key>teamNickname</key>
		<string>Cougars</string>
	</dict>
	<dict>
		<key>teamId</key>
		<integer>142</integer>
		<key>teamName</key>
		<string>Gonzaga</string>
		<key>teamNickname</key>
		<string>Bulldogs</string>
	</dict>
	<dict>
		<key>teamId</key>
		<integer>207</integer>
		<key>teamName</key>
		<string>Loyola Marymount</string>
		<key>teamNickname</key>
		<string>Lions</string>
	</dict>
	<dict>
		<key>teamId</key>
		<integer>300</integer>
		<key>teamName</key>
		<string>Pepperdine</string>
		<key>teamNickname</key>
		<string>Waves</string>
	</dict>
	<dict>
		<key>teamId</key>
		<integer>304</integer>
		<key>teamName</key>
		<string>Portland</string>
		<key>teamNickname</key>
		<string>Pilots</string>
	</dict>
	<dict>
		<key>teamId</key>
		<integer>327</integer>
		<key>teamName</key>
		<string>San Diego</string>
		<key>teamNickname</key>
		<string>Toreros</string>
	</dict>
	<dict>
		<key>teamId</key>
		<integer>329</integer>
		<key>teamName</key>
		<string>San Francisco</string>
		<key>teamNickname</key>
		<string>Dons</string>
	</dict>
	<dict>
		<key>teamId</key>
		<integer>333</integer>
		<key>teamName</key>
		<string>Santa Clara</string>
		<key>teamNickname</key>
		<string>Broncos</string>
	</dict>
	<dict>
		<key>teamId</key>
		<integer>371</integer>
		<key>teamName</key>
		<string>St. Mary&apos;s</string>
		<key>teamNickname</key>
		<string>Gaels</string>
	</dict>
	<dict>
		<key>teamId</key>
		<integer>101</integer>
		<key>teamName</key>
		<string>Denver</string>
		<key>teamNickname</key>
		<string>Pioneers</string>
	</dict>
	<dict>
		<key>teamId</key>
		<integer>162</integer>
		<key>teamName</key>
		<string>Idaho</string>
		<key>teamNickname</key>
		<string>Vandals</string>
	</dict>
	<dict>
		<key>teamId</key>
		<integer>204</integer>
		<key>teamName</key>
		<string>Louisiana Tech</string>
		<key>teamNickname</key>
		<string>Bulldogs</string>
	</dict>
	<dict>
		<key>teamId</key>
		<integer>266</integer>
		<key>teamName</key>
		<string>New Mexico State</string>
		<key>teamNickname</key>
		<string>Aggies</string>
	</dict>
	<dict>
		<key>teamId</key>
		<integer>331</integer>
		<key>teamName</key>
		<string>San Jose State</string>
		<key>teamNickname</key>
		<string>Spartans</string>
	</dict>
	<dict>
		<key>teamId</key>
		<integer>336</integer>
		<key>teamName</key>
		<string>Seattle</string>
		<key>teamNickname</key>
		<string>Redhawks</string>
	</dict>
	<dict>
		<key>teamId</key>
		<integer>385</integer>
		<key>teamName</key>
		<string>Texas State</string>
		<key>teamNickname</key>
		<string>Bobcats</string>
	</dict>
	<dict>
		<key>teamId</key>
		<integer>398</integer>
		<key>teamName</key>
		<string>Texas-Arlington</string>
		<key>teamNickname</key>
		<string>Mavericks</string>
	</dict>
	<dict>
		<key>teamId</key>
		<integer>395</integer>
		<key>teamName</key>
		<string>Texas-San Antonio</string>
		<key>teamNickname</key>
		<string>Roadrunners</string>
	</dict>
	<dict>
		<key>teamId</key>
		<integer>432</integer>
		<key>teamName</key>
		<string>Utah State</string>
		<key>teamNickname</key>
		<string>Aggies</string>
	</dict>
</array>
</plist>
