<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>teamId</key>
		<integer>2</integer>
		<key>teamName</key>
		<string>Boston</string>
		<key>teamNickname</key>
		<string>Bruins</string>
	</dict>
	<dict>
		<key>teamId</key>
		<integer>3</integer>
		<key>teamName</key>
		<string>Buffalo</string>
		<key>teamNickname</key>
		<string>Sabres</string>
	</dict>
	<dict>
		<key>teamId</key>
		<integer>9</integer>
		<key>teamName</key>
		<string>Detroit</string>
		<key>teamNickname</key>
		<string>Red Wings</string>
	</dict>
	<dict>
		<key>teamId</key>
		<integer>11</integer>
		<key>teamName</key>
		<string>Florida</string>
		<key>teamNickname</key>
		<string>Panthers</string>
	</dict>
	<dict>
		<key>teamId</key>
		<integer>13</integer>
		<key>teamName</key>
		<string>Montreal</string>
		<key>teamNickname</key>
		<string>Canadiens</string>
	</dict>
	<dict>
		<key>teamId</key>
		<integer>19</integer>
		<key>teamName</key>
		<string>Ottawa</string>
		<key>teamNickname</key>
		<string>Senators</string>
	</dict>
	<dict>
		<key>teamId</key>
		<integer>25</integer>
		<key>teamName</key>
		<string>Tampa Bay</string>
		<key>teamNickname</key>
		<string>Lightning</string>
	</dict>
	<dict>
		<key>teamId</key>
		<integer>26</integer>
		<key>teamName</key>
		<string>Toronto</string>
		<key>teamNickname</key>
		<string>Maple Leafs</string>
	</dict>
	<dict>
		<key>teamId</key>
		<integer>5</integer>
		<key>teamName</key>
		<string>Carolina</string>
		<key>teamNickname</key>
		<string>Hurricanes</string>
	</dict>
	<dict>
		<key>teamId</key>
		<integer>31</integer>
		<key>teamName</key>
		<string>Columbus</string>
		<key>teamNickname</key>
		<string>Blue Jackets</string>
	</dict>
	<dict>
		<key>teamId</key>
		<integer>15</integer>
		<key>teamName</key>
		<string>New Jersey</string>
		<key>teamNickname</key>
		<string>Devils</string>
	</dict>
	<dict>
		<key>teamId</key>
		<integer>17</integer>
		<key>teamName</key>
		<string>New York</string>
		<key>teamNickname</key>
		<string>Islanders</string>
	</dict>
	<dict>
		<key>teamId</key>
		<integer>18</integer>
		<key>teamName</key>
		<string>New York</string>
		<key>teamNickname</key>
		<string>Rangers</string>
	</dict>
	<dict>
		<key>teamId</key>
		<integer>20</integer>
		<key>teamName</key>
		<string>Philadelphia</string>
		<key>teamNickname</key>
		<string>Flyers</string>
	</dict>
	<dict>
		<key>teamId</key>
		<integer>22</integer>
		<key>teamName</key>
		<string>Pittsburgh</string>
		<key>teamNickname</key>
		<string>Penguins</string>
	</dict>
	<dict>
		<key>teamId</key>
		<integer>28</integer>
		<key>teamName</key>
		<string>Washington</string>
		<key>teamNickname</key>
		<string>Capitals</string>
	</dict>
	<dict>
		<key>teamId</key>
		<integer>6</integer>
		<key>teamName</key>
		<string>Chicago</string>
		<key>teamNickname</key>
		<string>Blackhawks</string>
	</dict>
	<dict>
		<key>teamId</key>
		<integer>7</integer>
		<key>teamName</key>
		<string>Colorado</string>
		<key>teamNickname</key>
		<string>Avalanche</string>
	</dict>
	<dict>
		<key>teamId</key>
		<integer>8</integer>
		<key>teamName</key>
		<string>Dallas</string>
		<key>teamNickname</key>
		<string>Stars</string>
	</dict>
	<dict>
		<key>teamId</key>
		<integer>30</integer>
		<key>teamName</key>
		<string>Minnesota</string>
		<key>teamNickname</key>
		<string>Wild</string>
	</dict>
	<dict>
		<key>teamId</key>
		<integer>14</integer>
		<key>teamName</key>
		<string>Nashville</string>
		<key>teamNickname</key>
		<string>Predators</string>
	</dict>
	<dict>
		<key>teamId</key>
		<integer>24</integer>
		<key>teamName</key>
		<string>St. Louis</string>
		<key>teamNickname</key>
		<string>Blues</string>
	</dict>
	<dict>
		<key>teamId</key>
		<integer>29</integer>
		<key>teamName</key>
		<string>Winnipeg</string>
		<key>teamNickname</key>
		<string>Jets</string>
	</dict>
	<dict>
		<key>teamId</key>
		<integer>1</integer>
		<key>teamName</key>
		<string>Anaheim</string>
		<key>teamNickname</key>
		<string>Ducks</string>
	</dict>
	<dict>
		<key>teamId</key>
		<integer>4</integer>
		<key>teamName</key>
		<string>Calgary</string>
		<key>teamNickname</key>
		<string>Flames</string>
	</dict>
	<dict>
		<key>teamId</key>
		<integer>10</integer>
		<key>teamName</key>
		<string>Edmonton</string>
		<key>teamNickname</key>
		<string>Oilers</string>
	</dict>
	<dict>
		<key>teamId</key>
		<integer>12</integer>
		<key>teamName</key>
		<string>Los Angeles</string>
		<key>teamNickname</key>
		<string>Kings</string>
	</dict>
	<dict>
		<key>teamId</key>
		<integer>21</integer>
		<key>teamName</key>
		<string>Phoenix</string>
		<key>teamNickname</key>
		<string>Coyotes</string>
	</dict>
	<dict>
		<key>teamId</key>
		<integer>23</integer>
		<key>teamName</key>
		<string>San Jose</string>
		<key>teamNickname</key>
		<string>Sharks</string>
	</dict>
	<dict>
		<key>teamId</key>
		<integer>27</integer>
		<key>teamName</key>
		<string>Vancouver</string>
		<key>teamNickname</key>
		<string>Canucks</string>
	</dict>
</array>
</plist>
